@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.top {
    background-color: #3d4660;
    color: white;
}

nav {
    display: flex;
    margin: 2em;
    justify-content: space-between;
    align-items: center;
    margin-right: 6em;
    margin-left: 6em;
    border-bottom: white;
    border: 4px;
}

.logo {
    margin: 0px;
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 2em;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
}

.top button {
    margin-top: 2em;
}

button {
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}


    button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

.top img {
    width: 400px;
    padding: 4em;
}

.hero {
    display: flex;
    margin: 2em;
    padding: 0em;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
    flex-direction: row-reverse;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    position: relative;
}

.heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1em;
}

.information .heading {
    margin: 2em;
    text-align: center;
}

.cards {
    display: flex;
    margin-top: 4em;
    margin: 4em;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    word-wrap: break-word;
}

.card .text {
    justify-self: center;
    align-self: flex-start;
    margin: 1em;
    text-align: center;
}

.information img {
    width: 300px;
    height: 300px;
    object-fit: clip;
}

.quote-section {
    height: auto;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 48px;
    font-style: italic;
    text-align: center;
    margin: 2em;
    margin-bottom: 0em;
}

.author {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 6em;
    margin-bottom: 2em;
}

.CTA {
    display: flex;
    height: auto;
    padding: 4em;
    justify-content: center;
    align-items: center;
}

.bubble {
    display: flex;
    background-color: slategrey;
    color: white;
    padding: 2em;
    width: fit-content;
    border-radius: 1em;
    align-items: center;
    margin: 2em;
    gap: 4em;
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    text-align: center;
    background-color: #3d4660;
    display: flex;
    justify-content: center;
    padding: 2em;
    color: white;
}

